@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, a{list-style: none; text-decoration: none;}

hr{display: inline; background-color: #4A4A4A;}

.grade-layout{
    max-width: 1349px;
    margin: auto;
}

button, .pointer{
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

/*body*/

body{
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 10px 0;
}

#perfil{
    display: flex;
    align-items: center;
    gap: 15px;
}


.inputPesquisa{
    width: 260px;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0px 3px 20px 0px #dedede;
    border: none;
    color: #a8a8a8;

}

.inputPesquisa::placeholder{
    color: #a8a8a8;
}

.clima a{
    display: flex;
    align-items: center;
    gap: 20px;
    font: normal 600 .79rem 'arial';
    color: #4A4A4A;
    text-decoration: none;

}

#climaMin{font: normal 600 .79rem 'arial'; color: #B4023F;}
#climaMax{font: normal 600 .79rem 'arial'; color: #5F7AB5;}

.fotoPerfil img{
    width: 50px;
    border-radius: 50%;
}

#bunnerG-principal{
    width: 700px;
    margin: auto;
}

#menu ul{
    
    display: flex;
    gap: 55px;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    margin: 0px 0 15px 0;    
    flex-wrap: wrap;
    padding: 25px 0 80px 30px;
}

#menu a{color: #6e6e6e; font: normal 600 1rem 'arial';}

/* main */

.fontEsportes{font: normal 700 .9rem 'arial'; color: #85c625; margin: 10px 0;}
.fontEconomia{font: normal 700 .9rem 'arial'; color: orange; margin: 10px 0;}
.fontSaude{font: normal 700 .9rem 'arial'; color: #B4023F; margin: 10px 0;}
.fontEntreterimento{font: normal 700 .9rem 'arial'; color:  #b402a5; margin: 10px 0;}
.fontTVFamosos{font: normal 700 .9rem 'arial'; color: rgb(0, 51, 255); margin: 10px 0;}
.fontOutros{font: normal 700 .9rem 'arial'; color: white; margin: 10px 0;}

.noticia{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: auto;
    padding: 25px 0 25px 0;
}

.bunnerBL, .bunnerWBL{
    width: 500px;
    height: 250px;
    border-radius: 25px;
    padding: 25px;
    background-color: white;
    margin: 25px 15px;
}

.bunnerWBL{
    TEXT ;
}

#bunnerBL1{
    background-image: url(https://www.mundodomarketing.com.br/images2/inteligencia/materias/443/entreterimento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
}

/* section 1*/

.bunnerP, .bunnerWP, .bunnerWL-G{
    display: block;
    width: 230px;
    margin: 10px auto 10px auto;
    color: #4A4A4A;
}

.bunnerWP{
    width: 260px;
    background-color: white;  
    margin: 0;
}

.bunnerWP .imgB, .bunnerWL-G .imgB{
    width: 600px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bunnerWP article{
    padding: 35px;
}

#videos{
    display: flex;
    margin: auto;
    gap: 15px;
    overflow: auto; 
}

.bunnerWL-G{
    width: 600px;
    height: 350px;
    background-color: #5F7AB5;  
    margin: 0;
    padding: ;
    border-radius: 25px;
}

.imgB{
    border-radius: 10px;
}

.imgB-P{ 
    max-width: 100%;
    height: 200px;
}

.imgB-G{ 
    max-width: 100%;
    height: 400px;
}

.imgB-L{
    width: 250px;
    height: 200px;
}

.imgB-LP{
    width: 180px;
    height: 130px;
}



.bunnerG{
    position: relative;
    display: block;
    width: 500px;
    margin: -96px 185px 10px 0;
    color: #4A4A4A;
}

.boxinfo{
    position: absolute;
    top: 75px;
    right: -200px;
    width: 350px;
    border-radius: 10px;
    background-color: #B4023F;
    height: 330px;
    padding: 25px;
    color: white;
}

.boxinfo span{
    display: block;
    width: 50px;
    margin: 0 25px;
    background-color:white; 
}

.sectionList{
    background-color: #fff;
    border-radius: 25px;
    margin: 15px auto;
    padding: 25px 0 25px 25px;
    width: 650px;
}

.bunnerL{
    position: relative;
    display: flex;
    height: 200px;
    gap: 25px;
    margin: 25px 5px 25px 5px;
}

.bunnerLP{
    width: 500px;
    position: relative;
    display: flex;
    height: 170px;
    gap: 25px;
    margin: 25px 5px 25px 5px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

.infobox{
    position: absolute;
    bottom: 10px;
    font: normal 500 .7rem 'arial';
    color: #4A4A4A;
}

.bunnerBV, .bunnerBWV{
    width: 230px;
    height: 300px;
    background-color: #5F7AB5;
    border-radius: 10px;
    border-radius: 10px;
}

.bunnerBWV{height: 200px; background-color: white; padding: 15px;}



#bunnerBV1{
    background-image: url(https://extra.globo.com/incoming/25083705-83f-eb5/w533h800/marilia-mendonca-signo-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bunnerBV2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoA5YLjfBLRw9bpjR7httrcv3MfAr3QAVKYA&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Footer */

footer{
    width: 100%;
    background-color: #4A4A4A;
    font: normal 500 .7rem 'arial';
}

#footer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px 30px ;
}


#footer a{
    color: #fff;
    font-style: unset;
    margin: 5px 10px;
}



